In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("DataFrameExample").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/09/08 14:38:42 WARN Utils: Your hostname, kingstein, resolves to a loopback address: 127.0.1.1; using 10.122.78.224 instead (on interface wlp3s0)
25/09/08 14:38:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/09/08 14:38:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
data = [("ALice",22),("Bob",22),("Cathy",23)]
columns = ["Name","Age"]
df1 = spark.createDataFrame(data,columns)
print("DataFrame created from collection:")
df1.show()

DataFrame created from collection:

+-----+---+
| Name|Age|
+-----+---+
|ALice| 22|
|  Bob| 22|
|Cathy| 23|
+-----+---+

In [7]:
df2 = spark.read.csv("sample.csv",header = True, inferSchema = True)
print("DataFrame created from CSV file:")
df2.show()

DataFrame created from CSV file:
+-----+---+
| Name|Age|
+-----+---+
|Alice| 22|
|  Bob| 22|
|Cathy| 23|
|David| 24|
|  Eve| 25|
+-----+---+

In [8]:
print("Selecting only Name Column:")
df1.select("Name").show()
print("Filtering rows where Age > 23:")
df1.filter(df1.Age > 23).show()

Selecting only Name Column:
+-----+
| Name|
+-----+
|ALice|
|  Bob|
|Cathy|
+-----+

Filtering rows where Age > 23:
+----+---+
|Name|Age|
+----+---+
+----+---+

## Add new Row

In [9]:
new_data = [("Frank",20)]
new_df = spark.createDataFrame(new_data,columns)
print("After Adding a new Rows:")
new_df.show()

After Adding a new Rows:
+-----+---+
| Name|Age|
+-----+---+
|Frank| 20|
+-----+---+

In [11]:
df_deleted = df1.filter(df1.Age != 22)
print("After Deleting rows where Age = 22:")
df_deleted.show()

After Deleting rows where Age = 22:
+-----+---+
| Name|Age|
+-----+---+
|Cathy| 23|
+-----+---+

In [12]:
from pyspark.sql.functions import col
df1_updated = df1.withColumn("Age",col("Age") + 1)
print("After increasing Age by one")
df1_updated.show()

After increasing Age by one
+-----+---+
| Name|Age|
+-----+---+
|ALice| 23|
|  Bob| 23|
|Cathy| 24|
+-----+---+

In [15]:
df1_with_city = df1.withColumn("City", col("Name"))
print("After adding a new column 'City':")
df1_with_city.show()

After adding a new column 'City':
+-----+---+-----+
| Name|Age| City|
+-----+---+-----+
|ALice| 22|ALice|
|  Bob| 22|  Bob|
|Cathy| 23|Cathy|
+-----+---+-----+

In [16]:
df1_dropped = df1_with_city.drop("City")
print("After Dropping the 'City' column:")
df1_dropped.show()

After Dropping the 'City' column:
+-----+---+
| Name|Age|
+-----+---+
|ALice| 22|
|  Bob| 22|
|Cathy| 23|
+-----+---+