In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Viva_Assignment").getOrCreate()

data = [("John",28,"HR"),
        ("Sara",32,"IT"),
        ("Mike",26,"Finance"),
        ("Nina",29,"Marketing")]

columns = ["Name","Age","Department"]

df_employees = spark.createDataFrame(data,columns)

df_employees.show()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/10/06 20:46:38 WARN Utils: Your hostname, kingstein, resolves to a loopback address: 127.0.1.1; using 10.192.7.224 instead (on interface wlp3s0)
25/10/06 20:46:38 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/10/06 20:46:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+----+---+----------+
|Name|Age|Department|
+----+---+----------+
|John| 28|        HR|
|Sara| 32|        IT|
|Mike| 26|   Finance|
|Nina| 29| Marketing|
+----+---+----------+

In [2]:
from pyspark.sql import Row

students_data = [
    (1,"Alice",85),
    (2,"Bob",78),
    (3,"Cathy",92),
    (4,"David",66)
]

student_columns = ["ID","Name","Marks"]

df_students = spark.createDataFrame(students_data,student_columns)

df_students.write.mode("overwrite").option("header",True).csv("students.csv")


df_students.show()

+---+-----+-----+
| ID| Name|Marks|
+---+-----+-----+
|  1|Alice|   85|
|  2|  Bob|   78|
|  3|Cathy|   92|
|  4|David|   66|
+---+-----+-----+

In [3]:
from pyspark.sql.functions import col

df_students = spark.read.csv("students.csv",header = True,inferSchema = True)

selected = df_students.select("Name","Marks")

filtered = selected.filter(col("Marks")>80)

total_students = df_students.count()

print("Selected Columns:")
selected.show()

print("Filtered (Mark > 80):")
filtered.show()

print("Total number of Students: ",total_students)

Selected Columns:
+-----+-----+
| Name|Marks|
+-----+-----+
|Alice|   85|
|Cathy|   92|
|David|   66|
|  Bob|   78|
+-----+-----+

Filtered (Mark > 80):
+-----+-----+
| Name|Marks|
+-----+-----+
|Alice|   85|
|Cathy|   92|
+-----+-----+

Total number of Students:  4

In [6]:
from pyspark.sql.functions import lit
df_employee = df_employees.withColumn("Experience", lit("2 Years"))

df_employee = df_employee.withColumnRenamed("Department", "Dept")

df_employee.show()

+----+---+---------+----------+
|Name|Age|     Dept|Experience|
+----+---+---------+----------+
|John| 28|       HR|   2 Years|
|Sara| 32|       IT|   2 Years|
|Mike| 26|  Finance|   2 Years|
|Nina| 29|Marketing|   2 Years|
+----+---+---------+----------+

In [9]:
from pyspark.sql.functions import avg, max

sorted_students = df_students.orderBy(col("Marks").desc())
sorted_students.show()

avg_marks = df_students.select(avg("Marks")).collect()[0][0]

max_marks = df_students.select(max("Marks")).collect()[0][0]

print("Average Marks:", avg_marks)
print("Maximum Marks:", max_marks)

+---+-----+-----+
| ID| Name|Marks|
+---+-----+-----+
|  3|Cathy|   92|
|  1|Alice|   85|
|  2|  Bob|   78|
|  4|David|   66|
+---+-----+-----+

Average Marks: 80.25
Maximum Marks: 92